$clr-primary: #08A6E4;
$clr-primary-shadow: rgba(7, 172, 230, .16);
$clr-redish: #FB3B64;
$clr-green: #55DFB4;
$clr-grey: #A5A5A5;
$clr-light-grey: #F7F7F7;
$clr-white: #FFFFFF;
$clr-black: #000000;
$font-raleway: 'Raleway', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$line-height: 1.5;